body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
  /* background-image: url(https://images.unsplash.com/photo-1595600566063-2863388012be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80); */
}

.container {
  /* text-align: center; */
  /* width: 70%; */
  margin-left: auto;
  margin-right: auto;
}

button {
  display: inline-block;
  width: 75%;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #ffbb1d;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
}

button:hover,
button:focus {
  background: #dd9d09;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}



@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}